*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 1100px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
  color: #000;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
}

.h2-sections {
  font-size: 40px;
  line-height: 47px;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.link-line {
  border-bottom: 1px solid #000;
}
